<% include partials/header.ejs %>
<div class="container">


  <form class="add-post-form" action="" method="post" enctype="multipart/form-data">
    <div class="form-row">
      <div class ="form-group col-md-4">
        <p>
            <label>Username:</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="username" required>
        </p>
      </div>
      <div class ="form-group col-md-4">
        <p>
                <label>Email Account:</label>
                <input type="text" class="form-control" name="email" id="email" placeholder="email" required>
            </p>
      </div>
      <div class ="form-group col-md-6">
        <p>
                <label>Password:</label>
                <input type="text" class="form-control" name="password" id="pwd" placeholder="password" required>
            </p>
      </div>
      <div class ="form-group col-md-10">
        <p>
                <label>First Name:</label>
                <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" required>
            </p>
      </div>
      <div class ="form-group col-md-10">
        <p>
                <label>Last Name:</label>
                <input type="text" class="form-control" name="last_name" id="last_name" placeholder="first name" required>
            </p>
      </div>
      <div class="form-group col-md-6">
        <p>
                <label>Phone Number:</label>
                <input type="text" class="form-control" name="phone" id="phone" placeholder="phone number" required>
            </p>
      </div>
      <button type="submit" class="btn btn-primary float-right"> Add New Post</button>
  </form>
<div>
