<%# login and account creation form %>
<% include partials/header.ejs %>
<head>
    
    <style type="text/css">
        body{
            text-align: center;
        }
    </style>
    
</head>

<body style = "background-image: url(https://www.halofinancial.com/HaloFinancial/media/Halo-Financial/DCI%20Images/Canadian-dollars-a-array-of-notes-Halo-Financial.jpg); background-size: 100% 200%; background-color: rgba(255,255,255,0.6); background-blend-mode: lighten; ">
</body>

<a href="/loginpage" class="btn btn-sm btn-primary"> Login </a>


    <p><br></p>
    <a href="/addacc" class="btn btn-sm btn-primary">Create New Account</a>
</div>
