<% include partials/header.ejs %>
<div class="container">
    <table class="table" style="float:left">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col" style="text-align: center">Lent</th>
                <th scope="col" style="text-align: center">Due Date</th>
                <th scope="col" style="text-align: center">Rating</th>
                <th scope="col" style="text-align: center">Phone Number</th>
                <th scope="col">Edit</th> 
            </tr>
        </thead>
    </table>
</div>