<% include partials/header.ejs %>

<div class="container">
    <table class="table" style="float:left">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col" style="text-align: left">Lent</th>
                <th scope="col" style="text-align: center">Due Date</th>
                <th scope="col" style="text-align: right">Rating</th>
                <th scope="col" style="text-align: right">Phone Number</th>
            </tr>
        </thead>
    </table>
    <table class="table" style="float:left">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col" style="text-align: left">Debt</th>
                <th scope="col" style="text-align: center">Due Date</th>
                <th scope="col" style="text-align: right">Rating</th>
                <th scope="col" style="text-align: right">Phone Number</th>
            </tr>
        </thead>
    </table>
</div>