<% include partials/header.ejs %>

<div class="container">
    <table class="table" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col" style="text-align: left">Lent</th>
                <th scope="col" style="text-align: center">Due Date</th>
                <th scope="col" style="text-align: center">Rating</th>
                <th scope="col" style="text-align: center">Description</th>
                <th scope="col" style="text-align: right">Delete</th>
            </tr>
        </thead>
        <tbody>
            <% players.forEach((player, index) => { %>
                <% if (player.debt > 0) { %>
                    <tr>
                <th scope="row">player.name</th>
                <td style="text-align: left">player.debt</td>
                <td style="text-align: center">player.duedate</td>
                <td style="text-align: center">player.rating</td>
                <td style="text-align: center">player.description</td>
                <td><a href="/delete/<$ player.name $>" class="btn btn-sm btn-danger">Delete</a>
                </td>
                    </tr>
                <% } %>
            <% }) %>
        </tbody>
    </table>
    <table class="table" style="float:left">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col" style="text-align: center">Debt</th>
                <th scope="col" style="text-align: center">Due Date</th>
                <th scope="col" style="text-align: center">Rating</th>
                <th scope="col" style="text-align: center">Description</th>
            </tr>
        </thead>
        <tbody>
            <% players.forEach((player, index) => { %>
            <% if (player.debt < 0) { %>
                <tr>
                <th scope="row">post.name</th>
                <td style="text-align: left">post.debt</td>
                <td style="text-align: center">post.duedate</td>
                <td style="text-align: center">post.rating</td>
                <td style="text-align: center">post.description</td>
                </tr>
               <% } %>
            <% }) %>
        </tbody>
    </table>
</div>